
/ {
	leds {
		compatible = "gpio-leds";
		in_level_low: input0 {
			gpios = <&gpio0 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		};
		in_estop_ok: input1 {
			gpios = <&gpio0 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		};
		out_ok: output0 {
			gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
		};
		out_stuck: output1 {
			gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
		};
		out_pump_en: output2 {
			gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>;
		};
		out_pump_en_led: output4 {
			gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
		};
	};

	aliases {
		in-level-low = &in_level_low;
		in-estop-ok = &in_estop_ok;
		out-ok = &out_ok;
		out-stuck = &out_stuck;
		out-pump-en = &out_pump_en;
		out-pump-en-led = &out_pump_en_led;
	};
};